@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

.first-circle {
  animation-delay: 0.1s;
}

.second-circle {
  animation-delay: 0.2s;
}

.third-circle {
  animation-delay: 0.3s;
}
